---
interface Props {
	title: string;
	description: string;
	canonical: string;
	ogImage?: string;
	hreflangs?: Array<{ href: string; lang: string }>;
}
const p = Astro.props as Props;
---
<title>{p.title}</title>
<meta name="description" content={p.description} />
<link rel="canonical" href={new URL(p.canonical, Astro.site)} />
{p.hreflangs && p.hreflangs.map(h => <link rel="alternate" hrefLang={h.lang} href={h.href} />)}
{p.ogImage && <meta property="og:image" content={p.ogImage} />}
<meta property="og:title" content={p.title} />
<meta property="og:description" content={p.description} />
<meta name="twitter:card" content="summary_large_image" />
